Scopes from OAuth protected resource metadata should be used for DCR

Current behavior:

When adding an MCP server that supports OAuth dynamic client registration, Witsy creates a client with the `mcp:tools` scope. This could result in the authorization server rejecting registration if the `mcp:tools` scope is not available on the server.

Expected behavior:

Given that the MCP specification doesn't define scope names, the client shouldn't assume the `mcp:tools` scope is required or exists, and use the `scopes_supported` field in the OAuth protected resource metadata document of the MCP server and post all the scopes advertised there. If no scopes are present (or cannot be determined), no scope could be passed (RFC 7591 section 2 allows a client to omit the `scope` field so that the server "MAY" register a client with a default set of scopes).

Alternatively or additionally, the scopes could be configurable in the MCP settings dialog.

Hopefully I got that right!

Available in [3.0.0 Pre-release](https://github.com/nbonamy/witsy/releases/tag/v3.0.0)